.post {
  max-width: 500px;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid lightgray;
}
.post__image {
  width: 100%;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}
.post__text {
  font-weight: normal;
  padding: 16px;
}
.post__header {
  padding: 14px;
  display: flex;
  align-items: center;
}
.post__avatar {
  margin-right: 10px !important;
}

.post__commentBox {
  display: flex;
  margin-top: 10px;
}
.post__input {
  flex: 1;
  border: none;
  border-top: 1px solid lightgray;
  padding: 10px;
}

.post__button {
  flex: 0;
  border: none;
  border-top: 1px solid lightgray;
  color: aquamarine;
}
.post__comments {
  padding: 20px;
}
