* {
  padding: 0;
  margin: 0;
}
.app {
  min-height: 100vh;
  background-color: #fafafa;
}
.app__header {
  object-fit: contain;
  padding: 20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}
.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
}
.app__signIn {
  display: flex;
  flex-direction: column;
}
.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}
/* .app__posts-left {
} */
.app__posts-right {
  margin-left: 20px;
}
